.contactsItem {
	display: flex;
	align-items: center;
	padding: 1em;
	cursor: pointer;
	white-space: nowrap;
    width: 100%;
    
	svg {
        font-size: 50px;
        min-width: 50px; /* Задайте фиксированную ширину SVG */
        height: 50px; 
	}
	h5 {
        overflow: scroll;
		font-size: 20px;
		margin-left: 0.5em;
		height: 100%;
		margin-top: 0.2em;
	}
	&:hover {
		background: rgb(31, 44, 51);
	}
}
